.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
    color: #FFFFFF;

}

.image {
    max-width: 60px;
}

.btn {
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selected:not(:last-child) {
    margin-right: 5px;
}

.selected {
    padding: 5px;
    color: white;
}

.active {
    color: rgb(190, 23, 110);
    font-weight: 800;
}

.pages {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.pages span {
    cursor: pointer;
}

.pages span:not(:last-child) {
    margin-right: 5px;
}
