.main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    gap: 10px;
    color: #FFFFFF;

}

.image {
    max-width: 60px;
}

.btn {
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}