.header {
    background-color: #1e1f26;
    grid-area: head;
}

.header img {
    max-width: 100px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}