.nav {
    background-color: #1e1f26;
    grid-area: nav;
    padding: 10px;
}

.item {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*.item:hover {*/
/*    text-decoration: underline;*/
/*}*/

.active {
    color: darkred;
    text-decoration: none;
}