.dialog {
    display: flex;
    align-items: center;
    color: #1E1F26;
    margin-bottom: 10px;
}

.dialogs_image {
    max-width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.dialog_item {
    text-decoration: none;
    color: white;
}

.active {
    color: darkred;
}